.planningSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.planningSection > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
}


.focusSemester {
  background: linear-gradient(to right,#5fb537, #1ccaca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.effectItem {
  display: flex;
  flex-direction: row;
}

.effectItem > p:first-child {
  margin-right: 5px;
}

.positiveColor {
  color: green;
}

.negativeColor {
  color: red;
}
