

<div
  class="planningSection"
  cdkDropListGroup
>
  <div
    cdkDropList
  >
    <h1>Available for {{semesterTitle(currentSemester())}}</h1>
    <div>
      @for (courseState of state().available(currentSemester()); track courseState.id) {
      @let course = state().courseWith(courseState.id);
      <div class="courseList">
        <p
          cdkDrag
          (click)="state().addCourseToSchedule(course.id,currentSemester())"
          [cdkDragData]="course.id"
          (cdkDragStarted)="setMinimumValidSemesterDrop(courseState.semesterAvailable!)"
          (cdkDragEnded)="resetMinimumValidSemesterDrop()"
        >
          {{ course.id }} - {{ course.name }}
        </p>
      </div>
      } @empty {
        <div>
          <h5>There are no courses available for this semester</h5>
        </div>
      }
    </div>
  </div>


  <div>
    <h1>Planned Courses</h1>
    <div>
      @for (semester of semesters(); track semester.semester){
        <div (click)="setSemester(semester.semester)">
          <h4 [class]="currentSemester() == semester.semester ? 'focusSemester' : ''">{{ semesterTitle(semester.semester) }}</h4>
          <div
            cdkDropList
            (cdkDropListEntered)="setDragOverSemesterSignal(semester.semester)"
            (cdkDropListExited)="resetDragOverSemesterSignal()"
            (cdkDropListDropped)="addCourse($event)"
            [hidden]="semester.semester <  minimumValidSemesterDrop()"
          >
            @for (course of semester.courses; track course[COURSE_ID]) {
              <p
                (click)="openRemovePreview(course[COURSE_ID])"
              > {{course[COURSE_ID]}}-{{course[COURSE_NAME]}}</p>
            } @empty {
              <p
                [hidden]="isDraggingOverSemester(semester.semester)">
                No courses planned
              </p>
            }
          </div>

          <p [hidden]="semester.semester >= minimumValidSemesterDrop()">You cannot add this course to this semester</p>
        </div>

      }
    </div>
    <button matButton mat-raised-button (click)="incrementSemester()">Add Semester</button>
  </div>

  <div>
    <h1>Effects</h1>
    <div>
      @for (effect of effects; track effect.id) {
        <div class="effectItem">
          <p [class]="effect.verbClass()">{{ effect.verb() }}</p>
          <p>{{ effect.subject() }}</p>
        </div>
      }
    </div>
  </div>

</div>
