mat-card {
  padding : 10px;
  background-color: white;
}

.plansContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardContent {
  display: flex;
}

.planLinkSection {
  padding: 10px;
}

.cardContent:hover {
  cursor: pointer;
}

.icons {
  border-left: 1px solid black;
  margin-left: 10px;
  padding-left: 10px;
}

.icons > span:hover {
  color: red;
}
