<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Prereq - {{prereq().id.substring(0, 4) }} <p [ngClass]="statusClass">{{statusStr()}}</p> </mat-panel-title>
    <mat-panel-description>{{ prereq().description() }}</mat-panel-description>
  </mat-expansion-panel-header>
  <p>Course(s)</p>
  @for (child of prereq().leafCourses; track child) {
    <p>{{ child }}</p>
  }

  <p>Descendent Prerequisite(s)</p>
  @for (childPrereq of prereq().childPrereqs; track childPrereq.id) {
    <app-prereq-panel [prereq]="childPrereq"></app-prereq-panel>
  }

</mat-expansion-panel>
