@if (isLoading()) {
  <div class="loadingContainer">
    <p>Fetching plan details...</p>
  </div>
}
@else{
  <div class="schedulerContainer">
    <app-planning-container [state]="state!"></app-planning-container>
      <div class="planningSectionContainer effectsContainer">
        <h3>Effects</h3>
        @for (effect of state!.effects; track effect.id) {
              <mat-expansion-panel>
                <mat-expansion-panel-header>

                  <mat-panel-title>
                    <div class="titleContainer">
                      <p>{{ effect.focus() }}</p>
                      <p>was</p>
                      <p [className]="effect.actionType() == 'ADDITION' ? 'additionStyle' : 'removalStyle'">{{ effect.actionTaken() }}</p>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="effectItemContainer">
                  @for (desc of effect.effectItems(); track $index) {
                    <p>{{ desc.focus() }} {{ desc.currentState() }}</p>
                  } @empty {
                    <p>Adding this course did not free any courses</p>
                  }
                </div>
              </mat-expansion-panel>
        }
      </div>
    </div>

    <div class="summaryContainer">
      <h3>Your Degree and Your Progress</h3>
    </div>
<!--    <mat-accordion>-->
<!--      @for (req of state!.serializedGraph.requirements; track req.id) {-->
<!--        <app-serialized-requirement-panel [requirement]="req"></app-serialized-requirement-panel>-->
<!--      }-->
<!--    </mat-accordion>-->

}
